body {
background-color: bisque;
}

header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.411);
}

.wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.title {
  font-weight: 800;
  font-size: 3em;
}

.bayan li {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.411);
}
.bayan li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bayan li label {
  /* background-color: rgb(151, 146, 140); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

label::after {
  content: '+';
  padding-right: 20px;
  font-size: 24px;
  font-weight: 700;
}

input[type="radio"]{
  display: none;
}

.bayan .bayan-content {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  opacity: 70%;
  transition: max-height 0.2s;
}

.bayan input[type="radio"]:checked + label + .bayan-content {
  max-height: 500px;
  opacity: 100%;
}

li label:hover + .bayan-content {
  max-height: 500px;
}

.bayan-content {
  height: 500px;
}

.bayan-content:hover {
  opacity: 100%;
  max-height: 500px;
}

li:hover label::after {
  content: "-";
}

.bayan input[type="radio"]:checked + label::after {
  content: "-";
}

.bayan-content img {
  margin-bottom: 25px;
  object-fit: contain;
}
